<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


<head>
<meta charset="UTF-8" />
<title>Product More</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div class="container">


		<div class="jumbotron">
			<h1 class="display-4">Olá,</h1>
			<p class="lead">Página informada através da URL não existe.</p>
			<hr class="my-4">

			<p class="lead">
				<a type="button" class="btn btn-primary" th:href="@{/produtos}">Clique
					aqui</a>
			</p>
		</div>


	</div>

	<script th:src="@{/js/bootstrap.js}"></script>


</body>
</html>